body {
  font-family: Arial;
  padding: 20px;
}

#dashboard {
  background: #f2f2f2;
  padding: 10px;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.done {
  color: green;
  font-weight: bold;
}

.pending {
  color: red;
  font-weight: bold;
}
